/* .App {
  display: flex;

  justify-content: center;
}

.wrapper {
  border: 2px solid black;
  width: 90% !important;
}

.rdt_TableHeadRow {
  position: sticky !important;
  top: 0 !important;
} */